DB_USER=appuser
DB_PASSWORD=change_me
DB_NAME=appdb

BGG_BASE_URL=https://boardgamegeek.com/xmlapi2/

BGG_TOKEN=

GARAGE_RPC_SECRET=
GARAGE_ACCESS_KEY=
GARAGE_SECRET_KEY=
GARAGE_BUCKET=images

JWT_SECRET=
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=720h
JWT_ISSUER=polka
JWT_AUDIENCE=polka-api