.vscode
.idea
.env
.DS_Store

android/*.iml
android/.gradle
android/local.properties
android/captures
android/.externalNativeBuild
android/.cxx
android/local.properties
android/**/build

backend/tmp/
backend/*.exe

